body{
    background-image: url(boli.jpg);
    background-repeat: no-repeat;
        h1{
            color: rgb(115, 155, 41);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow';
            font-size: 30;
            text-align: center;


        }
        h2{
            color: rgb(214, 168, 88);
            font-family: sans-serif;
            font-size: 40;
            text-align: center;
        }
        p{
            color:rgb(206, 27, 27); 
            background-color: rgb(182, 173, 45);
            font-family:'Gill Sans';
            font-size: x-large;
            text-align: center;
            }
}
.cabezera{
    text-align: center;
    font-size: xx-large;    
    }
    .contenedor{
        display: flex;
        align-content: center;
    }
    .uno{
        flex: 1;
        text-align: center;
        font-size: x-large;
        color: rgb(188, 141, 33);
    }
    .dos{
        flex: 1;
        text-align: center;
        font-size: x-large;
        
    }
    .txtinf{
        text-align: center;
        font-size: xx-large;
        color: rgb(197, 211, 37);
        background-color: rgb(175, 105, 14);

    }
    .nombre{
            flex: 1;
            text-align: center;
            background-color: rgb(218, 116, 21);
            font-size: x-large;
            color: rgb(88, 2, 67);
    }
    .galeria{
        flex: 1;
        align-content: center;

    }
    .button{ 
        flex: 1;
        color: rgb(0, 0, 0);
        background-color: rgb(225, 121, 10);
        display: inline-block;
        border-radius: 25px;
        text-align: center;
        font-size: xx-large;
        padding: 25px 30px;
        transition: background-color 2s ease-out;
    }
    .button2{ 
        flex: 1;
        color: rgb(235, 206, 206);
        background-color: rgb(0, 247, 255);
        display: inline-block;
        border-radius: 25px;
        text-align: center;
        font-size: xx-large;
        padding: 25px 30px;
        transition: background-color 2s ease-out;
    }
    .button:hover{ 
        flex: 1;
        color: rgb(19, 196, 202);
        display: inline-block;
        background-color: rgb(33, 139, 65);
        border-radius: 25px;
        text-align: center;
        font-size: xx-large;
        padding: 25px 30px;
        transition: background-color 1s ease-out;
    }
    .button2:hover{ 
        flex: 1;
        color: rgb(37, 231, 154);
        display: inline-block;
        background-color: rgb(60, 183, 41);
        border-radius: 25px;
        text-align: center;
        font-size: xx-large;
        padding: 25px 30px;
        transition: background-color 1s ease-out;
    }
    .imgbutton{
        flex: 1; 
        flex: auto;
        height: 200px;
        width: 250px;
        display: inline-block;
        border-radius: 25px;
        align-items: center;
        font-size: xx-large;
        padding: 25px 30px;
        transition: background-color 1s ease-out;
    }
    .imgbutton:hover{ 
        flex: 1;
        display: inline-block;
        background-color: rgb(83, 51, 207);
        border-radius: 25px;
        align-items: center;
        font-size: xx-large;
        padding: 25px 30px;
        transition: background-color 0.5s ease-out;
        transform: scale(1.25);
    }